* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.select-wrapper {
    width: 200px;
}
.select-main {
    width: inherit;
    border: 1px solid #B7B1B1;
    border-radius: 3px;
    position: relative;
    padding: 8px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.select-main:after {
    content: '';
    border: 4px solid transparent;
    border-top: 7px solid #B7B1B1;
    position: absolute;
    top: 15px;
    right: 10px;
}
.select-main.opened:after {
    border-top: 4px solid transparent;
    border-bottom: 7px solid #B7B1B1;
    top: 10px;
}
.select-content {
    width: inherit;
    border: 1px solid #B7B1B1;
}
.select-content li {
    list-style-type: none;
    padding: 5px 15px;
    cursor: pointer;
}
.select-content li:hover {
    background-color: #eee;
}
